// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  position: fixed;
  bottom: 24;
  width: 100%;
}

footer {
  padding-top: 24px;
}

.social {
  padding-left: 0;

  li {
    list-style: none;
    display: inline-block;
    padding-right: 16px;
  }

  svg {
    fill: #252525;

    @include on-event {
      fill: $brand-color;
    }
  }
}
