// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  padding: 32px 0;

  nav {
    display: grid;
    grid-template-areas: "logo social";

    grid-template-columns: auto 1fr;
  }

  .logo {
    grid-area: logo;
    justify-self: start;
    align-self: center;
  }

  .social {
    padding-left: 0;
    grid-area: social;
    justify-self: end;
    vertical-align: middle;
    align-self: center;

    li {
      list-style: none;
      display: inline-block;
      padding-right: 16px;
      vertical-align: middle;
      align-self: center;
    }

    svg {
      fill: #252525;

      @include on-event {
        fill: $brand-color;
      }
    }
  }
}
